############################################################
# 1-я печатная голова, print_head_1.cfg
############################################################

[mcu EBBCan_1]
canbus_uuid: 01827eb07d93                   # Уникальный идентификатор шины CAN для EBBCan MCU.

[extruder]
step_pin: EBBCan_1:gpio18                   # Пин импульса двигателя по оси Z
dir_pin: !EBBCan_1:gpio19                   # Настройка пина направления двигателя (инвертируется добавлением ! перед пином)
enable_pin: !EBBCan_1:gpio17                # Двигатель позволяет установить пин
full_steps_per_rotation: 200                # Количество импульсов, необходимых для одного оборота двигателя (двигатель 1,8 градуса: 200, двигатель 0,9 градуса: 400)
microsteps: 16                              # Микрошаг двигателя
                                            # При калибровке экструдера измените следующее значение
                                            # Предположим, вы заказываете 100-миллиметровую ленту, но получаете 98-миллиметровую.
                                            # Новое значение = старое значение x (фактическая длина экструзии / целевая длина) \ New value = old value x (actual extruded length / target length)
                                            # 22.6789511 это рекомендуемое значение
gear_ratio: 50:10                           # Коэффициент уменьшения
rotation_distance: 22.28                    # Расстояние вращения
nozzle_diameter: 0.400                      # Толщина установленного сопла
filament_diameter: 1.750                    # Диаметр используемого пластика
heater_pin: EBBCan_1:gpio7                  # Пин нагревателя
control: pid                                # Способ контроля
pid_Kp: 26.152                              # Пропорциональный параметр ПИД-регулятора
pid_Ki: 1.614                               # Интегральный параметр ПИД-регулятора
pid_Kd: 105.915                             # Производный параметр ПИД-регулятора
min_temp: -20                               # Минимальная температура
max_temp: 350                               # Максимальная температура
min_extrude_temp: 190                       # Минимальная температура для экструзии
pressure_advance: 0.05                      # Повышение давления — старайтесь поддерживать давление ниже 1,0
pressure_advance_smooth_time: 0.040         # Время нарастания давления — по умолчанию 0,040
                                            # Команда калибровки температуры сопла PID: "PID_CALIBRATE HEATER=extruder TARGET=245"
sensor_type: MAX31865                       # Тип датчика температуры (термистора)
sensor_pin: EBBCan_1:gpio9                  # Пин термистора
spi_software_sclk_pin: EBBCan_1:gpio10      # SPI clock pin (Вывод часов SPI)
spi_software_mosi_pin: EBBCan_1:gpio8       # SPI master out slave in pin (ведущий вывод ведомого ввода PIN-кода)
spi_software_miso_pin: EBBCan_1:gpio11      # SPI master in slave out pin (вывод ведущего входа ведомого выхода)
rtd_nominal_r: 100                          # Номинальное сопротивление RTD
rtd_reference_r: 430                        # Опорное сопротивление RTD
rtd_num_of_wires: 2                         # Количество проводов для RTD
max_extrude_only_distance: 200              # Максимальная длина разового выдавливания пластика из эктсрудера

[tool T0]                                   # Определяет секцию конфигурации для инструмента с индексом T0 (например, первая печатающая голова).
tool_number: 0                              # Указывает номер инструмента (0)
extruder: extruder                          # Связывает инструмент T0 с экструдером, определенным в секции [extruder] конфигурационного файла.
params_type = 'rods_mini_hookon' 
fan: fan_1                                  # Указывает, что инструмент использует вентилятор, определенный в секции [fan_1]. Это обычно вентилятор для охлаждения напечатанной детали.
gcode_x_offset: 0                           # Смещение по оси X
gcode_y_offset: 0                           # Смещение по оси Y
gcode_z_offset: 0                           # Смещение по оси Z
params_park_x: 19.1                         # Координата X для парковки инструмента (в миллиметрах).
params_park_y: 3.1                          # Координата Y для парковки инструмента (в миллиметрах).
params_park_z: 305                          # Координата Z для парковки инструмента (в миллиметрах).
params_input_shaper_type_x: 'mzv'           # Тип шейпера (компенсации вибраций) для оси X.
params_input_shaper_freq_x: 62.2            # Частота шейпера для оси X в герцах.
params_input_shaper_damping_ratio_x: 0.01   # Коэффициент демпфирования для шейпера по оси X.
params_input_shaper_type_y: 'mzv'           # Тип шейпера (компенсации вибраций) для оси Y.
params_input_shaper_freq_y: 44.0            # Частота шейпера для оси Y в герцах.
params_input_shaper_damping_ratio_y: 0.01   # Коэффициент демпфирования для шейпера по оси X.

[adxl345 head1]
cs_pin: EBBCan_1:gpio1                      # Контакт выбора микросхемы для акселерометра ADXL345.
spi_software_sclk_pin: EBBCan_1:gpio2       # Пин-код часов SPI программного обеспечения
spi_software_mosi_pin: EBBCan_1:gpio0       # Программный вывод SPI MOSI (Master Out Slave In).
spi_software_miso_pin: EBBCan_1:gpio3       # Программный вывод SPI MISO (Master In Slave Out).
axes_map: z,-y,x                            # Настройте оси в соответствии с системой координат принтера.

#[resonance_tester head1]
#probe_points: 175, 175, 20                 # Зондовые точки для резонансных испытаний.
#accel_chip: adxl345                        # Тип акселерометра, используемый для резонансных испытаний.

[fan_generic fan_1]                         # Обдув модели 
pin: EBBCan_1:gpio13                        # Пин вентилятора 
cycle_time: 0.00003                         # Время цикла
hardware_pwm: false                         # аппаратный шим

[heater_fan Обдув_радиатора_1]              # Обдув радиатора hotend_fan
pin: EBBCan_1:gpio14                        # Пин вентилятора 
heater: extruder                            # Нагреватель, связанный с этим вентилятором - сейчас со нагревателем сопла
heater_temp: 50.0                           # Температура, при которой включается вентилятор
cycle_time: 0.00003                         # Время цикла

[verify_heater extruder]                    # Конфигурация допуска нагревательного блока к температуре
max_error: 120                              # Максимальная погрешность
check_gain_time: 120                        # Время допуска
hysteresis: 50                              # Допустимая температура
heating_gain: 2                             # Коэффициент усиления при нагревании

[tmc2209 extruder]                          # Драйвер TMC2209
uart_pin: EBBCan_1:gpio20                   # Коммуникационный порт драйвера по UART
run_current: 0.40                           # Значение рабочего тока двигателя (мА) (было 0.550)
stealthchop_threshold: 999999               # Порог отключения звука

[temperature_sensor Переходная_плата_1]     # Название
sensor_type: Generic 3950                   # Тип датчика для термистора NTC (закомментировано).
sensor_pin: EBBCan_1:gpio28                 # Контакт, подключенный к термистору NTC (закомментирован).

[neopixel hotend_rgb_1]                     # Подсветка на голове
pin: EBBCan_1:gpio16                        # Пины для управления светодиодом hotend RGB LED
chain_count: 3                              # Количество светодиодов в цепочке
color_order: GRBW                           # Порядок выбора цвета для светодиодов RGBW
initial_RED: 0.2                            # Начальная красная яркость
initial_GREEN: 0.2                          # Начальная яркость зеленого цвета
initial_BLUE: 0.2                           # Начальная яркость синего цвета

[gcode_macro T0]                            # Определяет макрос с именем T0, который можно вызвать через G-code команду T0 для выбора инструмента с индексом 0 (например, первый экструдер).
variable_color: ""                          # Может применяться для хранения информации о цвете филамента, если это предусмотрено в макросах.
gcode:
  SELECT_TOOL T=0                           # Команда SELECT_TOOL с параметром T=0 вызывает выбор инструмента с номером 0. 
                                            # Это активирует инструмент T0, используя параметры, заданные в секции [tool T0].

[tool_probe T0]                             # Определяет секцию конфигурации зонда (датчика) для инструмента T0, используемого для определения наличия печатной головы.
pin: ^EBBCan_1:gpio22                       # Указывает пин микроконтроллера
tool: 0                                     # Связывает зонд с инструментом T0
z_offset: -0.8                              # Смещение зонда по оси Z относительно сопла в миллиметрах. При -1 сопло высоко от стола, при -0.9 слегка вдавливает
speed: 5.0                                  # Скорость движения зонда при измерении высоты (в мм/с).
samples: 3                                  # Количество измерений высоты в одной точке. Зонд выполнит 3 измерения для повышения точности.
samples_result: median                      # Метод обработки результатов измерений. Значение 'median' указывает, что будет использоваться медиана из трех измерений для определения высоты.
sample_retract_dist: 2.0                    # Расстояние, на которое зонд поднимается после каждого измерения (в миллиметрах).
samples_tolerance: 0.02                     # Допустимое отклонение между измерениями в миллиметрах.
samples_tolerance_retries: 3                # Количество повторных попыток измерения, если результаты выходят за пределы допуска (0.02 мм).
activate_gcode:
  _TAP_PROBE_ACTIVATE HEATER=extruder       # Вызывает макрос _TAP_PROBE_ACTIVATE с параметром HEATER=extruder. 
                                            # Этот макрос активирует зонд, возможно, с учетом нагрева экструдера для точности измерений

[filament_switch_sensor filament_Т0]
switch_pin: EBBCan_1:gpio24
pause_on_runout: true

# Макросы для этой головы

[gcode_macro Обдув_модели_ПГ_1]                                  # Управление обдувом в блоке макросов
gcode:
    {% set speed = params.SPEED|default(0)|int %}
    {% if speed == 0 %}
        SET_FAN_SPEED FAN=fan_1 SPEED=0
        M117 Обдув модели 1 выключен
    {% elif speed == 10 %}
        SET_FAN_SPEED FAN=fan_1 SPEED=0.1
        M117 Обдув модели ПГ-1 10%
    {% elif speed == 20 %}
        SET_FAN_SPEED FAN=fan_1 SPEED=0.2
        M117 Обдув модели ПГ-1 - 20%
    {% elif speed == 30 %}
        SET_FAN_SPEED FAN=fan_1 SPEED=0.3
        M117 Обдув модели ПГ-1 30%
    {% elif speed == 40 %}
        SET_FAN_SPEED FAN=fan_1 SPEED=0.4
        M117 Обдув модели ПГ-1 40%
    {% elif speed == 50 %}
        SET_FAN_SPEED FAN=fan_1 SPEED=0.5
        M117 Обдув модели ПГ-1 50%
    {% elif speed == 60 %}
        SET_FAN_SPEED FAN=fan_1 SPEED=0.6
        M117 Обдув модели ПГ-1 60%
    {% elif speed == 70 %}
        SET_FAN_SPEED FAN=fan_1 SPEED=0.7
        M117 Обдув модели ПГ-1 70%
    {% elif speed == 80 %}
        SET_FAN_SPEED FAN=fan_1 SPEED=0.8
        M117 Обдув модели ПГ-1 80%
    {% elif speed == 90 %}
        SET_FAN_SPEED FAN=fan_1 SPEED=0.9
        M117 Обдув модели ПГ-1 90%
    {% elif speed == 100 %}
        SET_FAN_SPEED FAN=fan_1 SPEED=1.0
        M117 Обдув модели ПГ-1 100%
    {% else %}
        M117 Докуск включения 10,20,30,40,50,60,70,80,90,100% или отключение.
    {% endif %}

[gcode_macro Температура_ПГ_1]
description: Нагрев головы (выберите температуру)
gcode:
    {% set temp = params.TEMP|default(0)|int %}
    {% if temp == 0 %}
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
        M117 Нагрев экструдера ПГ-1 отключён
    {% elif temp == 100 %}
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=100
        M117 Нагрев экструдера ПГ-1 на 100°C
    {% elif temp == 150 %}
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150
        M117 Нагрев экструдера ПГ-1 на 150°C
    {% elif temp == 180 %}
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=180
        M117 Нагрев экструдера ПГ-1 на 180°C
    {% elif temp == 200 %}
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=200
        M117 Нагрев экструдера ПГ-1 на 200°C
    {% elif temp == 220 %}
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=220
        M117 Нагрев экструдера ПГ-1 на 220°C
    {% elif temp == 240 %}
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=240
        M117 Нагрев экструдера ПГ-1 на 240°C
    {% elif temp == 260 %}
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=260
        M117 Нагрев экструдера ПГ-1 на 260°C
    {% else %}
        M117 Быстрый пуск доступен на 100,150,180,200,220,240,260 градусов
    {% endif %}

[filament_switch_sensor Пластика_на_входе_ПГ_1]  # Модуль обнаружения наличия пластика
switch_pin: PE14                                 # Пин, подключенный к датчику затора
pause_on_runout: True                            # При значении "True" принтер будет немедленно приостановлен при обнаружении конца пластика. При "False" модуль отключён
runout_gcode:                                    # Что происходит, при обнаружении отсутствия пластика
    PAUSE                                        # Происходит макрос "PAUSE"
    M118 Конец проволоки                         # Отображение сообщения
# insert_gcode:
event_delay: 1.0                                 # Все события, произошедшие в этот период, будут игнорироваться по умолчанию
pause_delay: 0.5                                 # Задержка между командой приостановки и выполнением runout_gcode (в секундах)

#[filament_motion_sensor Движение_пластика_ПГ_1]  # Модуль обнаружения засора или неподачи пластика
#switch_pin: PE12                                 # Пин, подключенный к датчику затора
#detection_length: 3.5                            # Минимальная длина, которая вызывает изменение состояния пина switch_pin датчика
#extruder: extruder                               # Данный датчик связан с этим экструдером
## pause_on_runout:
#runout_gcode:                                    # Что происходит, при обнаружении засора
#    PAUSE                                        # Происходит макрос "PAUSE"
#    M118 Затор проволоки                         # Отображение сообщения
## insert_gcode:
#event_delay: 10                                  # Все события, произошедшие в этот период, будут игнорироваться по умолчанию
#pause_delay: 3                                   # Задержка между командой приостановки и выполнением runout_gcode (в секундах)

[gcode_macro PID_1]
description: PID-калибровка нагрева экструдера T0 (220°C)
gcode:
  PID_CALIBRATE HEATER=extruder TARGET=220       # Запуск PID-калибровки
  M117 PID-калибровка завершена! Выполните SAVE_CONFIG вручную, если нужно.